<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


    <mvc:annotation-driven/>
    <mvc:resources mapping="/ext/**" location="/WEB-INF/ext/"/>
    <mvc:resources mapping="/ext-6-modern/**" location="/WEB-INF/ext-6-modern/"/>
    <mvc:resources mapping="/ext-6.2.0/**" location="/WEB-INF/ext-6.2.0/"/>
    <mvc:resources mapping="/img/**" location="/WEB-INF/img/"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.carsonfly.blog"/>
    <!--
    <mvc:interceptors>
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/*.do"/>
    		<bean class="com.carsonfly.blog.controller.MyInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
    -->
    <!-- 完成请求和注解POJO的映射 -->
    <!-- rest json related... start -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <!-- rest json related... end -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

</beans>